*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
variables.json
key.json
*.retry
jdauphant.nginx
vault.key
# Vagrant & molecule
.vagrant/
*.pyc
.molecule
.cache
.pytest_cache
--generic-ssh-key
docker-host
